@font-face {
  /*font from https://codepen.io/Nimoi/pen/keaFn*/
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(https://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: radial-gradient(#E295AA, #9F1B3E);
}

.text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  font-size: 5vw;
  text-align: center;
  color: #A47E88;
  z-index: -1

}

.happy {
  margin-top: calc(35vh - .5em);
  font-family: cursive;
}

.year {
  margin-top: calc(40vh - .5em);
  font-family: cursive;
}

.bday {
  margin-top: calc(45vh - .5em);
  font-family: cursive;
}

.name {
  margin-top: calc(55vh - .5em);
  font-family: Monoton;
  font-size: 10vw;
}
